<div class="media comment">
  <a class="pull-left" href="/mustPointToProfilePage">
    <img src="https://secure.gravatar.com/avatar/3b3be63a4c2a439b013787725dfce802?d=identicon&s=64&r=g&d=mm" class="img-circle">
  </a>
  <h4 class="media-heading">
    <a href="/mustPointToProfilePage">
      {{comment.author.firstName}} {{comment.author.lastName}}
    </a>
    <small>
      {{ isReply ? 'replied' : 'commented' }}
      on 
      {{ comment.createdAt | date: 'MM/dd/yy H:mm:ss' }}
    </small>
  </h4>
  <div class="media-body">
    <p>{{comment.text}}</p>
    <div class="pull-right">
      <button class="btn btn-info btn-sm" (click)="showReplies()">
        See Replies
      </button>
      <button class="btn btn-success btn-sm" [(ngModel)]="replyText" ngDefaultControl (click)="showReplyBox()">
        Reply
      </button>
    </div>
    <div class="well new-comment-well" *ngIf="isReplyClicked">
      <form role="form">
        <div class="form-group">
          <textarea class="form-control"
                    rows="2"
                    [(ngModel)]="replyText" 
                    [ngModelOptions]="{standalone: true}">
          </textarea>
        </div>
        <button class="btn btn-primary"
                (click)="reply(replyText)"  
                [disabled]="!replyText">
          Reply
        </button>
      </form>
    </div>
    <comment class="inner-comment"
             *ngFor="let reply of replies"
             [comment]="reply"
             [isReply]="true">
    </comment>
  </div>
</div>
