<div class="col-md-6">
  <div class="widget-area no-padding blank">
  <div class="status-upload">
    <form [formGroup]="createPostForm" (ngSubmit)="createPost($event)">
      <!--<div class="form-group">-->
        <!--<label for="title">Title</label>-->
      <input class="form-control" placeholder="Title" formControlName="title">
      <!--</div>-->
      <textarea placeholder="Write your post in a markdown format" formControlName="text">
      </textarea>
      <ul>
        <li>
          <a title=""
             data-toggle="tooltip"
             data-placement="bottom" 
             data-original-title="Audio">
            <i class="glyphicon glyphicon-music"></i>
          </a>
        </li>
        <li>
          <a title=""
             data-toggle="tooltip"
             data-placement="bottom"
             data-original-title="Video">
            <i class="glyphicon glyphicon-facetime-video"></i>
          </a>
        </li>
        <li>
          <a title="" data-toggle="tooltip"
             data-placement="bottom"
             data-original-title="Sound Record">
            <i class="glyphicon glyphicon-record"></i>
          </a>
        </li>
        <li>
          <a title=""
             data-toggle="tooltip"
             data-placement="bottom"
             data-original-title="Picture">
            <i class="glyphicon glyphicon-picture"></i>
          </a>
        </li>
      </ul>
      <button type="submit" class="btn btn-success green">
        <i class="glyphicon glyphicon-floppy-disk"></i>
         Save
        </button>
    </form>
  </div><!-- Status Upload  -->
  </div><!-- Widget Area -->
</div>